# MongoDB Atlas Cluster Configuration
# Replace <db_password> with your actual MongoDB Atlas database user password
MONGODB_URI=mongodb+srv://ramanansmaster_db_user:<db_password>@cluster28.uiwd4et.mongodb.net/respire_climate_db?retryWrites=true&w=majority&appName=Cluster28

# Express Server Port
PORT=5001
